<h1>Please Login </h1>
<div class="container">
  <header><img src="images/palette_by_heatherhorton.jpg" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Your Artistic Journey</h2>

    <div class="content">
      <p>Continue your journey and share with the world.</p>
    </div>

      <div class="sidebar">
        <h3>Create. Upload. Share. Love.</h3>
      </div>

    </div>
  </div>

<form method="post" action="/login">
  <input type="text" name="artist_name" placeholder="artist_name:">
  <input type="text" name="password" placeholder="password:">

  <input type="submit" value="submit">

</form>
