<html>
    <head>
        <title>Masterpiece upload</title>
    </head>

    <body>

        <h2><%=current_artist.artist_name %>'s Masterpieces</h2>

        <form action="/save_image" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload image">
        </form>

      </body>

</html>
