<h1>Here are all your masterpieces!</h1>


<% @drawings.each do |drawing| %>


<div>
<center><img src="<%= @drawing %>" width="800px", height="700px" /></center>
#make sure it connects to the image column
</div>

<%end%>

#changed @filename to @drawing to coincide with create_drawing
#and show_drawing.erb to make sure that DrawingsController
#is talking properly to the erb files.
