<h1>Here are all your masterpieces!</h1>


<% @drawings.each do |drawing| %>

<div>


  <center><img src="../images/<%= drawing.file %>" width="800px" height="700px" class="img-fluid"/></center>


</div>
<%end%>
