<h2>Delete?? Are you sure? :) </h2>

<form action="/drawings/<%=@drawing%>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete drawing?">
</form>
