<html>
    <head>
        <title>Show Artwork</title>
    </head>
    <body>
        <h1>Masterpiece </h1>
        <center><img src="<%= @filename %>" width="800px" height="700px" /></center>

    </body>
</html>
