<h1>Here are all your masterpieces!</h1>

<%=@drawings.each do |drawing| %>

<div>

<center><img src="<%= @filename %>" width="800px" height="700px" /></center>
#make sure it connects to the image column
</div>

<%end%>
