<h1>Welcome to Masterpiece! </h1>
<div class="container">
  <header><img style="width: 50%;" src="images/rawpixel-594852-unsplash.jpg" class="img-fluid"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Your Artistic Journey Begins Here!</h2>

    <div class="content">
      <p>Welcome to Masterpiece. Here you can display artwork that's in progress or completed. Think
      of it as your own personal journal for your artistic journey towards becoming a better artist and also a place where you can visually
      see the progression of your artistic skills and endeavors. Wishing you all the best!</p>
    </div>

      <div class="sidebar">
        <h3>Create. Upload. Share. Love.</h3>
      </div>

    </div>
  </div
